source "../nvhost/drivers/video/tegra/Kconfig"
if ARCH_TEGRA_18x_SOC
source "../t18x/drivers/video/tegra/Kconfig"
endif

config TEGRA_GRHOST_SYNC
	depends on TEGRA_GRHOST || TEGRA_HOST1X
	bool "Tegra host synchronization objects"
	default y
	select SYNC
	help
	  Add tegra host backend for the cross driver synchronization framework.
	  Allows creating sync fence file descriptors from Tegra host syncpoints.

source "../nvmap/drivers/video/tegra/nvmap/Kconfig"

if PLATFORM_TEGRA

config TEGRA_DC
	tristate "Tegra Display Contoller"
	depends on (TEGRA_GRHOST || TEGRA_HOST1X) && I2C
	select BACKLIGHT_CLASS_DEVICE
	select FB_MODE_HELPERS
	help
	  Tegra display controller support.
	  Enable this to access the Tegra display controller using either framebuffer
	  console interface and a proprietary dc-ext interface or with ADF.

source ../display/drivers/video/tegra/Kconfig

config NVMAP_CONVERT_CARVEOUT_TO_IOVMM
	bool "Convert carveout to IOVMM"
	depends on TEGRA_NVMAP &&  (TEGRA_IOVMM_SMMU || IOMMU_API)
	default y
	help
	  Say Y here to force to convert carveout memory requests to
	  I/O virtual memory requests.

config NVMAP_CONVERT_IOVMM_TO_CARVEOUT
	bool "Convert IOVMM to carveout"
	depends on TEGRA_NVMAP && IOMMU_API && !NVMAP_CONVERT_CARVEOUT_TO_IOVMM
	help
	  Say Y here to force to convert I/O virtual memory requests to
	  carveout memory requests.

config TEGRA_CAMERA_PLATFORM
	bool "Enable tegra camera platform driver"
	depends on PLATFORM_TEGRA
	default y
	help
	  Enables tegra camera platform driver.
	  If unsure, say Y

endif
